body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: aquamarine;
  padding-top: 50px;
  height: 100%;

}

body *{
  font-family: 'Times New Roman', Times, serif;
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
}